@font-face {
    font-family: 'UKNumberPlate';
    src: url('/fonts/UKNumberPlate.woff2') format('woff2'), url('/fonts/UKNumberPlate.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #f2f2f2;
}

@media(min-width:1400px) {
    .body-content {
        padding-left: 100px;
        padding-right: 100px;
    }
}

@media(min-width:992px) and (max-width:1399px) {
    .body-content {
        padding-left: 50px;
        padding-right: 50px;
    }
}

.spacer {
    margin-top: 20px;
}

#SiteHeader {
    display: table;
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
}

@media(max-width:991px) {
    #SiteHeader .SiteLogo {
        display: block;
        background-color: #000000;
        text-align: center;
    }

    #SiteHeader .SiteNav {
        display: block;
    }
}

@media(min-width:992px) {
    #SiteHeader .SiteLogo {
        display: table-cell;
        width: 400px;
    }

    #SiteHeader .SiteNav {
        display: table-cell;
        vertical-align: top;
    }
}

#TopNavBar {
    background-color: #333333;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

@media (max-width: 767px) {
    #TopNavBar .ContactDetails {
        text-align: center;
    }
}

@media (min-width: 768px) {
    #TopNavBar .Email {
        text-align: right;
    }
}

#TopNavBar .ContactDetails a:link,
#TopNavBar .ContactDetails a:active,
#TopNavBar .ContactDetails a:visited {
    color: #cccccc;
    text-decoration: none;
}

#TopNavBar .ContactDetails a:hover {
    color: #ffffff;
    text-decoration: underline;
}

#TopNavBar #TopHeader {
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
}

#TopNavBar #TopNavbarNav {
    margin-top: 20px;
}

.LoadingArea {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 3em;
}

.Filters {
    background-color: #333333;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    padding-top: 14px;
}

.Filters select {
    font-weight: bold;
}

h2,
h3,
h4,
h6 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
}

h5 {
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
}

h2.top {
    margin-top: 20px;
}

.StockListItem > .card {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.StockListItem .card-title {
    text-align: center;
    height: 40px;
}

.StockListItem h5 a:link,
.StockListItem h5 a:active,
.StockListItem h5 a:visited,
.StockListItem h6 a:link,
.StockListItem h6 a:active,
.StockListItem h6 a:visited {
    color: #333333;
}

.StockListItem h5 a:hover,
.StockListItem h6 a:hover {
    color: #000000;
}

.StockListItem a.NoHighlight:link,
.StockListItem a.NoHighlight:active,
.StockListItem a.NoHighlight:visited {
    color: #000000;
    text-decoration: none;
}

.StockListItem a.NoHighlight:hover {
    color: #000000;
    text-decoration: none;
}

.StockListItem .carouselArea {
    padding-top: 75%;
}

.StockListItem .carouselFrame {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.StockListItem .carousel {
    max-height: 340px;
    overflow-y: hidden;
}

.StockListItem .CarPrice {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.75);
    z-index: 1000;
    color: #FFF;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
}

.StockListItem .RegPlate {
    margin-left: auto;
    margin-right: auto;
    font-family: 'UKNumberPlate', sans-serif;
    font-size: 1.2em;
    background-color: #ffee02;
    width: 120px;
    border-radius: 5px;
    display: table;
}

.StockListItem .RegPlate .RegBand {
    width: 20px;
    background-color: #19357f;
    display: table-cell;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.StockListItem .RegPlate .RegCode {
    text-align: center;
    display: table-cell;
}

.StockListItem .DateAdded {
    text-align: right;
    color: #cccccc;
    font-size: 0.8em;
}

.navbar {
    background-color: #333333;
}
.navbar .navbar-brand {
  color: #cccccc;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
}
.navbar .navbar-text {
  color: #cccccc;
}
.navbar .navbar-text a {
  color: #ffffff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #ffffff; 
}
.navbar .navbar-nav .nav-link {
  color: #cccccc;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #333333;
  border-color: #333333;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #cccccc;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #333333;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #333333;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ffffff;
  background-color: #333333;
}
.navbar .navbar-toggle {
  border-color: #333333;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #333333;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #cccccc;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #cccccc;
}
.navbar .navbar-link {
  color: #cccccc;
}
.navbar .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #cccccc;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #333333;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #cccccc;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #333333;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #cccccc;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #333333;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #cccccc;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ffffff;
    background-color: #333333;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #cccccc;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #ffffff;
  background-color: #333333;
}