@page
@model MainlineUK.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <div class="row Spacer">
        <div class="col-md-3 col-sm-6 VideoBanner">
            <video controls>
                <source src="~/media/SimonFinance.mp4" />
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-md-9 col-sm-6">
            <h2>35 Years of Experience in a Family Run Dealership</h2>
            <h3>Working hard to get a car and finance deal to suit you</h3>
            <hr class="Divider" />
            <p>
                Welcome to Mainline UK based in Gateshead. We are convieniently placed next to the A1 near the Metro Centre.
            </p>
            <p>
                We are a family owned business offering a friendly and personal service with a range of vehicles and financing deals to suit any budget. Check out our 5 star reviews on Autotrader!
            </p>
            <p>
                Follow us on Twitter for the latest news and to hear about our latest vehicles and special offers - <a href="https://www.twitter.com/MainlineUKSales" target="_blank" rel="noopener">twitter.com/MainlineUKSales</a>.
            </p>
            <p>
                We understand that buying a car can be a daunting prospect, so we strive to make the buying process as simple and hassle-free as possible.
            </p>
            <p>
                But don't just take our word for it, see what some of our customers have to say about us...
            </p>
        </div>
    </div>
</div>
