@page
@model MainlineUK.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <div class="row Spacer">
        <div class="col-md-3 col-sm-6 VideoBanner">
            <video autoplay>
                <source src="~/media/SimonFinance.mp4" />
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="col-md-9 col-sm-6">
            <h2>35 Years of Experience in a Family Run Dealership</h2>
            <h3>Working hard to get a car and finance deal to suit you</h3>
            <hr class="Divider" />
            <p>
                We have 35 years experience dealing in quality used cars with a personal & professional service from a family owned and run dealership. Based near the Metrocentre in Dunston.
            </p>
            <p>
                We pride ourselves on the great service we provide to all of our customers.
            </p>
            <p>
                Been turned down for finance? We can help with finance options tailored to suit your needs.
            </p>
            <p>
                We understand that buying a car can be a daunting prospect, so we strive to make the buying process as simple and hassle-free as possible.
            </p>
            <p>
                But don't just take our word for it, see what some of our customers have to say about us...
            </p>
        </div>
    </div>
</div>
