@page "{id:int?}"
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div class="container" id="ContactForm">

    @if (@Model.FormSubmitted != true)
    {
        @if (Model.StocklistImport != null)
        {
            <form method="post" id="ContactFormFields">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-md">
                                <input asp-for="ContactAboutVehicle.Name" class="form-control" />
                                <span asp-validation-for="ContactAboutVehicle.Name" class="text-danger"></span>
                            </div>

                            <div class="col-md">
                                <input asp-for="ContactAboutVehicle.Email" class="form-control" />
                                <span asp-validation-for="ContactAboutVehicle.Email" class="text-danger"></span>
                            </div>

                            <div class="col-md">
                                <input asp-for="ContactAboutVehicle.Telephone" class="form-control" />
                                <span asp-validation-for="ContactAboutVehicle.Telephone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <textarea asp-for="ContactAboutVehicle.Enquiry" class="form-control"></textarea>
                                <span asp-validation-for="ContactAboutVehicle.Enquiry" class="text-danger"></span>
                            </div>

                            <div class="col-md-4 align-self-center">
                                <button type="submit" class="col-md btn btn-primary btn-block SendEnquiryButton">Send Enquiry</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        }
        else
        {
            <div class="row Spacer">
                <div class="col-md text-center">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Vehicle Ref is Missing (Error 02)</h4>
                        <p>
                            Sorry but this contact form is not currently working
                        </p>
                        <p>
                            Please <a href="enquiries@mainlineuk.co.uk?subject=Vehicle Enquiry (Error 02)">click here</a> to send an email using your computer email programme instead or send an email to <a href="enquiries@mainlineuk.co.uk?subject=Finance Page Enquiry (Error 01)">enquiries@mainlineuk.co.uk</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        if (@Model.EmailSent == true)
        {
            <div class="row Spacer">
                <div class="col-md text-center">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Thank you!</h4>
                        <p>
                            Thank you for your message.
                        </p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row Spacer">
                <div class="col-md text-center">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Sorry there was a problem...</h4>
                        <p>
                            Thank you for your message but unfortunately there was an error and your message could not be sent.
                        </p>
                        <p>
                            Please try to send your message again and if the error persists please <a href="enquiries@mainlineuk.co.uk?subject=Finance Enquiry (Error 01)">click here</a> to send an email using your computer email programme instead or send an email to <a href="enquiries@mainlineuk.co.uk?subject=Finance Page Enquiry (Error 01)">enquiries@mainlineuk.co.uk</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}