@page
@model MainlineUK.Pages.FinanceModel
@{
    ViewData["Title"] = "Finance";
}

<div class="container">
    <div class="row Spacer">
        <div class="col-md">
            <h2>
                Easy Car Finance
            </h2>
            <h3>
                Good, poor or bad credit, we can help
            </h3>
            <hr class="Divider" />
            <p>
                Mainline UK are your local vehicle finance specialists. We are able to compare the best deals from all major lenders in minutes. We also have access to Specialist lenders meaning we can find finance whatever your circumstances. Good, poor or bad credit, we can help.
            </p>
            <p>
                You can check your eligibility at anytime with our online Car Finance Checker Tool ...its FREE and simple and does not effect you credit score!
            </p>
            <p>
                You can apply online Zero Deposit NOW!<br />
                We are available to advise at any point.....we are here to help and always only a phone call away.
            </p>
        </div>
        <div class="col-md">
            <img src="~/images/EasyCarFinance.jpg" alt="Easy Car Finance" class="img-fluid" />
        </div>
    </div>
</div>