@page "{sortOrder?}/{pageIndex?}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2 class="top">Your new car is just a few clicks away</h2>


<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="container-fluid">
                <form method="get" id="SearchForm">
                    <div class="row Filters">
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <select name="make" class="form-control" asp-items="Model.Makes" id="FilterMake">
                                    <option value="" selected>🔱 Select make...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <select name="model" class="form-control" asp-items="Model.Models" id="FilterModel">
                                    <option value="" selected>🚘 Select model...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <select name="min_price" class="form-control" asp-items="Model.PricesFrom" id="FilterPriceFrom">
                                    <option value="" selected>💰 Prices from...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <select name="max_price" class="form-control" asp-items="Model.PricesTo" id="FilterPriceTo">
                                    <option value="" selected>💷 Prices to...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <select name="mileage" class="form-control" asp-items="Model.Mileage" id="FilterMileage">
                                    <option value="" selected>🛣 Mileage...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <select name="transmission" class="form-control" asp-items="Model.Transmission" id="FilterTransmission">
                                    <option value="" selected>⚙ Transmission...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <select name="fuel_type" class="form-control" asp-items="Model.FuelType" id="FilterFuelType">
                                    <option value="" selected>⛽ Fuel type...</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4">
                            <div class="form-group">
                                <select name="body_type" class="form-control" asp-items="Model.BodyType" id="FilterBodyType">
                                    <option value="" selected>🚙 Body type...</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="CarListArea">
    <div class="col text-center LoadingArea">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
</div>

<input type="hidden" id="CurrentSortID" value="@Model.CurrentSortID" />
<input type="hidden" id="PageID" value="" />

<!--Loading Area HTML showing loading animation-->
<div id="LoadingHTML" class="d-none">
    <div class="col text-center LoadingArea">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
</div>

<div class="modal fade" id="CarModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="CarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CarModalLabel"><i class="fas fa-car"></i> <span class="title">Car Details</span></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container first">
                    <div id="CarDetails" class="row">
                        <div class="col text-center LoadingArea">
                            <i class="fas fa-spinner fa-spin"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i> Close</button>
            </div>
        </div>
    </div>
</div>