@page
@model MainlineUK.Pages.RequestCarModel
@{
    ViewData["Title"] = "Request Car";
}

<div class="container">
    <div class="row Spacer">
        <div class="col-md">
            <h2>Please provide your details below and someone will be in touch</h2>
            <p>
                We have access to over 100 cars immediately available on our forecourt and can also source other cars to suit your requirements.
                Please complete the form below and we will do our best to find your ideal car.
            </p>
        </div>
    </div>
    @if (@Model.FormSubmitted != true)
    {
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md">
                    <h3>Personal Details</h3>
                    <hr class="Divider" />

                    <div class="form-group row">
                        <label asp-for="CarRequestBuy.Name" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestBuy.Name" class="form-control" />
                            <span asp-validation-for="CarRequestBuy.Name" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestBuy.Telephone" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestBuy.Telephone" class="form-control" />
                            <span asp-validation-for="CarRequestBuy.Telephone" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestBuy.Email" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestBuy.Email" class="form-control" />
                            <span asp-validation-for="CarRequestBuy.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <h3>Your Car Requirements</h3>
                    <hr class="Divider" />

                    <div class="form-group row">
                        <label asp-for="CarRequestBuy.CarMake" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestBuy.CarMake" class="form-control" />
                            <span asp-validation-for="CarRequestBuy.CarMake" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestBuy.CarModel" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestBuy.CarModel" class="form-control" />
                            <span asp-validation-for="CarRequestBuy.CarModel" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestBuy.CarOwners" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestBuy.CarOwners" class="form-control" />
                            <span asp-validation-for="CarRequestBuy.CarOwners" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestBuy.CarMileage" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestBuy.CarMileage" class="form-control" />
                            <span asp-validation-for="CarRequestBuy.CarMileage" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestBuy.CarColour" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestBuy.CarColour" class="form-control" />
                            <span asp-validation-for="CarRequestBuy.CarColour" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestBuy.CarFuelType" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <select asp-for="CarRequestBuy.CarFuelType" asp-items="@Model.FuelType" class="form-control">
                                <option value="" hidden disabled selected>Please select...</option>
                            </select>
                            <span asp-validation-for="CarRequestBuy.CarFuelType" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestBuy.CarTransmission" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <select asp-for="CarRequestBuy.CarTransmission" asp-items="@Model.Transmission" class="form-control">
                                <option value="" hidden disabled selected>Please select...</option>
                            </select>
                            <span asp-validation-for="CarRequestBuy.CarTransmission" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestBuy.CarCondition" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestBuy.CarCondition" class="form-control" />
                            <span asp-validation-for="CarRequestBuy.CarCondition" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="Divider" />
            <div class="row">
                <div class="col-md d-md-block d-sm-none">

                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-car"></i> Submit Details</button>
                </div>
                <div class="col-md d-md-block d-sm-none">

                </div>
            </div>
        </form>
    }
    else
    {
        if (@Model.EmailSent == true)
        {
            <div class="row Spacer">
                <div class="col-md text-center">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Thank you!</h4>
                        <p>
                            Thank you for your message.
                        </p>
                        <p>
                            Someone from the team will be in touch soon.
                        </p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row Spacer">
                <div class="col-md text-center">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Sorry there was a problem...</h4>
                        <p>
                            Thank you for your message but unfortunately there was an error and your message could not be sent.
                        </p>
                        <p>
                            Please try to send your message again and if the error persists please contact us using the contact details at the top of the page.
                        </p>
                    </div>
                </div>
            </div>
        }
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}