@page
@model MainlineUK.Pages.SellYourCarModel
@{
    ViewData["Title"] = "Sell Your Car";
}

<div class="container">
    <div class="row Spacer">
        <div class="col-md">
            <h2>Please provide your details below and someone will be in touch</h2>
            <p>
                You can be confident in getting a fair price and we also offer part exchange if you are looking for something new.
            </p>
        </div>
    </div>
    @if (@Model.FormSubmitted != true)
    {
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md">
                    <h3>Personal Details</h3>
                    <hr class="Divider" />

                    <div class="form-group row">
                        <label asp-for="CarRequestSell.Name" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestSell.Name" class="form-control" />
                            <span asp-validation-for="CarRequestSell.Name" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestSell.Telephone" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestSell.Telephone" class="form-control" />
                            <span asp-validation-for="CarRequestSell.Telephone" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestSell.Email" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestSell.Email" class="form-control" />
                            <span asp-validation-for="CarRequestSell.Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <h3>Your Car Details</h3>
                    <hr class="Divider" />

                    <div class="form-group row">
                        <label asp-for="CarRequestSell.CarMake" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestSell.CarMake" class="form-control" />
                            <span asp-validation-for="CarRequestSell.CarMake" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestSell.CarModel" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestSell.CarModel" class="form-control" />
                            <span asp-validation-for="CarRequestSell.CarModel" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestSell.CarRegistration" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestSell.CarRegistration" class="form-control" />
                            <span asp-validation-for="CarRequestSell.CarRegistration" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestSell.CarMileage" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestSell.CarMileage" class="form-control" />
                            <span asp-validation-for="CarRequestSell.CarMileage" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestSell.CarColour" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestSell.CarColour" class="form-control" />
                            <span asp-validation-for="CarRequestSell.CarColour" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestSell.CarFuelType" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <select asp-for="CarRequestSell.CarFuelType" asp-items="@Model.FuelType" class="form-control">
                                <option value="" hidden disabled selected>Please select...</option>
                            </select>
                            <span asp-validation-for="CarRequestSell.CarFuelType" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestSell.CarTransmission" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <select asp-for="CarRequestSell.CarTransmission" asp-items="@Model.Transmission" class="form-control">
                                <option value="" hidden disabled selected>Please select...</option>
                            </select>
                            <span asp-validation-for="CarRequestSell.CarTransmission" class="text-danger"></span>
                        </div>

                        <label asp-for="CarRequestSell.CarCondition" class="col-md-2 col-sm-4 col-form-label"></label>
                        <div class="col-md-4 col-sm-8">
                            <input asp-for="CarRequestSell.CarCondition" class="form-control" />
                            <span asp-validation-for="CarRequestSell.CarCondition" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="Divider" />
            <div class="row">
                <div class="col-md d-md-block d-sm-none">

                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-car"></i> Submit Details</button>
                </div>
                <div class="col-md d-md-block d-sm-none">

                </div>
            </div>
        </form>
    }
    else
    {
        if (@Model.EmailSent == true)
        {
            <div class="row Spacer">
                <div class="col-md text-center">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Thank you!</h4>
                        <p>
                            Thank you for your message.
                        </p>
                        <p>
                            Someone from the team will be in touch soon.
                        </p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row Spacer">
                <div class="col-md text-center">
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Sorry there was a problem...</h4>
                        <p>
                            Thank you for your message but unfortunately there was an error and your message could not be sent.
                        </p>
                        <p>
                            Please try to send your message again and if the error persists please contact us using the contact details at the top of the page.
                        </p>
                    </div>
                </div>
            </div>
        }
    }

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}