@page "{sortOrder?}/{pageIndex?}"
@model StocklistModel
@{
    ViewData["Title"] = "Stocklist";
}

<partial name="_FiltersPartial" model="Model" />

<div class="container" id="VehicleArea">
    <div class="col text-center LoadingArea">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
</div>

<input type="hidden" id="CurrentSortID" value="@Model.CurrentSortID" />
<input type="hidden" id="PageID" value="" />

<!--Loading Area HTML showing loading animation-->
<div id="LoadingHTML" class="d-none">
    <div class="col text-center LoadingArea">
        <i class="fas fa-spinner fa-spin"></i>
    </div>
</div>

<partial name="_ModalsPartial" model="Model" />

@section Scripts {
    <environment include="Development">
        <script src="~/js/stocklistshared.js" asp-append-version="true"></script>
        <script src="~/js/stocklist.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/stocklistshared.min.js" asp-append-version="true"></script>
        <script src="~/js/stocklist.min.js" asp-append-version="true"></script>
    </environment>
}