<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="We have 35 years experience dealing in quality used cars with a personal & professional service from a family owned and run dealership. Based near the Metrocentre in Dunston." />
    <meta name="keywords" content="car dealership, gateshead, newcastle, cars for sale, sell your car, north east, metro centre, mainline uk, mainline, A1, metrocentre autoworld" />
    <title>@ViewData["Title"] - MainlineUK</title>

    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/ekko-lightbox/ekko-lightbox.css" asp-append-version="true">
    <link rel="stylesheet" href="~/lib/noUiSlider/nouislider.min.css" asp-append-version="true">

    <link href="//fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Exo+2:400,700" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '520924078432890');
        fbq('track', 'PageView');
    </script>
    <!-- End Facebook Pixel Code -->
</head>
<body>
    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=520924078432890&ev=PageView&noscript=1" />
    </noscript>
    <div class="container-fluid header-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 align-self-end TopAddress d-none d-lg-block">
                    Metrocentre Autoworld, Wellington Road, Dunston, NE11 9HU
                </div>
                <div class="col-lg">
                    <a asp-page="/">
                        <img src="~/images/MainlineUKLogo.png" class="img-fluid mx-auto d-block" alt="Mainline UK">
                    </a>
                </div>
                <div class="col-lg-4 align-self-end TopTel d-none d-lg-block d-lg-inline-flex flex-lg-row-reverse">
                    <div class="ml-auto justify-content-end">
                        <a href="tel:0191 4605070"><i class="fas fa-phone"></i> 0191 4605070</a><br />
                        <a href="mailto:sales@mainlineuk.com?subject=Website%20Enquiry"><i class="fas fa-envelope"></i> sales@mainlineuk.com</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-5 TopSmall d-lg-none">
                    <a href="tel:0191 4605070" target="_blank" rel="noopener"><i class="fas fa-phone"></i> 0191 4605070</a><br />
                </div>
                <div class="col-7 TopSmall d-lg-none text-right">
                    <a href="mailto:sales@mainlineuk.com?subject=Website%20Enquiry"><i class="fas fa-envelope"></i> sales@mainlineuk.com</a>
                </div>
            </div>
            <hr class="Divider d-lg-none" />
            <div class="row">
                <div class="col TopAddressSmall d-lg-none text-center">
                    Metrocentre Autoworld, Wellington Road, Dunston, NE11 9HU
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/images/MainlineUKNavbarLogo.png" alt="Mainline UK Logo (white)" /></a>
            <a class="nav-link text-light d-lg-none" href="mailto:sales@mainlineuk.com?subject=Website%20Enquiry" title="Visit our Facebook page" target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
            <a class="nav-link text-light d-lg-none" href="//www.facebook.com/mainlinecarsales/" title="Visit our Facebook page" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
            <a class="nav-link text-light d-lg-none" href="//twitter.com/mainlineuksales" title="Visit our Twitter page" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-lg-inline-flex flex-lg-row-reverse">
                @*<partial name="_LoginPartial" />*@
                <ul class="nav navbar-nav ml-auto justify-content-end d-none d-lg-inline-flex SocialMediaLinks">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="mailto:sales@mainlineuk.com?subject=Website%20Enquiry" title="Visit our Facebook page" target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="//www.facebook.com/mainlinecarsales/" title="Visit our Facebook page" target="_blank" rel="noopener"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="//twitter.com/mainlineuksales" title="Visit our Twitter page" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
                    </li>
                </ul>
                <ul class="navbar-nav w-100 nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/UsedCars">Used Cars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/AboutUs">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Reviews">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Finance">Finance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/SellYourCar">Sell Your Car</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/RequestCar">Request Car</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/FindUs">Find Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container text-center">
            &copy; 2018-2021 - Mainline UK
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/momentjs/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="~/lib/marked/marked.min.js" asp-append-version="true"></script>
    <script src="~/lib/ekko-lightbox/ekko-lightbox.min.js" asp-append-version="true"></script>
    <script src="~/lib/ScrollMagic/ScrollMagic.min.js" asp-append-version="true"></script>

    <script src="~/lib/wnumb/wNumb.min.js" asp-append-version="true"></script>
    <script src="~/lib/noUiSlider/nouislider.min.js" asp-append-version="true"></script>
    <script src="~/lib/lodashjs/lodash.min.js" asp-append-version="true"></script>

    <environment include="Development">
        <script src="~/lib/ScrollMagic/plugins/debug.addIndicators.js" asp-append-version="true"></script>
    </environment>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
